body {
  background:#000;
  color:#fff;
  font-family:Arial;
  margin:0;
  padding:20px;
}

h1 { text-align:center; }

.grid {
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:15px;
}

.card {
  background:#111;
  padding:10px;
  border-radius:15px;
  cursor:pointer;
}

.foto {
  height:120px;
  background:#333;
  border-radius:10px;
  overflow:hidden;
}

.foto img {
  width:100%;
  height:100%;
  object-fit:cover;
}

.fab {
  position:fixed;
  right:20px;
  bottom:20px;
  width:60px;
  height:60px;
  border-radius:50%;
  font-size:30px;
}

.modal {
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.8);
  display:flex;
  align-items:center;
  justify-content:center;
}

.hidden { display:none; }

.modal-box {
  background:#111;
  padding:20px;
  border-radius:15px;
  width:90%;
  max-width:350px;
  position:relative;
}

.delete {
  position:absolute;
  right:15px;
  bottom:15px;
  font-size:24px;
}

.edit {
  position:absolute;
  left:15px;
  bottom:15px;
  font-size:24px;
}

.close {
  background:none;
  color:red;
  border:none;
  float:right;
}
